.widgetlarge{
    flex:2;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.18);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.18);
    padding: 20px;
}
.widgetlargeTitle{
    font-size: 20px;
    font-weight: bold;

}
.widgetlargeTable{
    width: 100%;
    border-spacing: 15px;
}
.widgetlargeTr{
    text-align: left;
    font-weight: 600;
}
.widgetlargeUser{
    display: flex;
    align-items: center;
    font-weight: 600;
    
}
.widgetlargeImg{
    font-size: 60px;
    object-fit: cover;
    margin-right: 10px;
}
.widgetlargeDate,.widgetlargeAmount{
    font-weight: 300;
}

.widgetlargeButton{
    padding: 5px;
    margin: 5px 7px;
    border-radius: 10px;
    border: none;
}
.widgetlargeButton.Approved{
    background-color: lightgreen;
}
.widgetlargeButton.Declined{
    background-color: rgb(235, 104, 104);
}
.widgetlargeButton.Pending{
    background-color: lightblue;
}